@media screen and (min-width: 600px)
{
    body {
        background-image: url('fundal.jpg');
        background-size: cover;
        padding: 0;
        margin: 0;
    }

    nav{
        width:100%;
        height:4em;
        background-color:aliceblue;
        position: fixed;
        top:0;
        z-index: 10;
    }

    nav ul{
        list-style-type:none;
    }

    nav a{
        font-size: 1.5em;
        text-decoration: none;
        text-align: center;
        color: black;
        display: block;
        height:100%;
        font-family: "Century Gothic",sans-serif;
    }

    ul.meniu{
        padding: 0;
        margin: 0;
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-flow: nowrap;
        justify-content: flex-start;
    }
    ul.meniu>li{
        flex-grow: 1;
        text-align: center;
        height: 4em;
        line-height: 4em;
        width:100%;
    }
    ul.meniu>li> ul.submeniu{
        display: none;
        width:100%;
        padding: 0;
        margin: 0;
        top: 0;
    }
    ul.meniu>li:hover>ul.submeniu{
        display: block;
        padding: 0;
        margin: 0;
        top: 0;
        background-color: aliceblue;
    }
    ul.meniu li:hover{
        background-color: white;
        transition-property: background-color;
        transition-duration: 1s;
    }
    ul.meniu >li>ul.submeniu a{
        padding: 0;
        margin: 0;
        text-align: center;
        top: 0;
    }

    h2 {
        text-decoration:underline;
    }
    #bestseller{
        padding-top: 50px;
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        font-size: 20px;
    }
    #bestseller h1{
        font-size:30px;
        text-shadow: 2px 2px rgb(230, 204, 219)
    }
    #fictiune{
        text-align: center;
        font-family: "Century Gothic",sans-serif;
    }
    #non-fictiune{
        text-align: center;
        font-family: "Century Gothic",sans-serif;
    }
    #copii{
        text-align: center;
        font-family: "Century Gothic",sans-serif;
    }

    #fictiune h2::after,#non-fictiune h2::after,#copii h2::after{
        content: "•"; /* Insert content that looks like bullets */
        padding-right: 8px;
        color: rgb(201, 109, 125); /* Or a color you prefer */
    }
    #fictiune h2::before,#non-fictiune h2::before,#copii h2::before{
        content: "•"; /* Insert content that looks like bullets */
        padding-left: 8px;
        color: rgb(201, 109, 125); /* Or a color you prefer */
    }
    .inceput{
        border:5px pink dotted;
        font-size:25px;
        margin-left: 28%;
        margin-right: 28%;
    }
    footer {
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        padding-bottom: 10px;
    }

    #galerie-fictiune {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
        align-content: center;
    }
    #galerie-fictiune>figure>figcaption{
        text-align: center;
    }
    #galerie-fictiune>figure:hover{
        transition: transform 2s;
        transform: scale(1.5);
        position: relative;
        z-index: 12;

    }

    #galerie-nonfictiune {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
        align-content: center;
    }

    #galerie-nonfictiune>figure>figcaption{
        text-align: center;
    }
    #galerie-nonfictiune>figure:hover{
        transition: transform 2s;
        transform: scale(1.5);
        position: relative;
        z-index: 12;

    }

    #galerie-copii {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
        align-content: center;
    }
    #galerie-copii>figure>figcaption{
        text-align: center;
    }
    #galerie-copii>figure:hover{
        transition: transform 2s;
        transform: scale(1.5);
        position: relative;
        z-index: 12;
    }
}

@media screen and (max-width: 600px)
{
    body {
        background-image: url('fundal.jpg');
        background-size: cover;
        padding-top: 0;
        margin: 0;
        top:0;
        left:0;
    }
    header > input{
        display: block;
        position:fixed;
        left : 15px;
        top : 15px;
        width : 40px;
        height : 40px;
        opacity: 0;
        z-index: 9;
    }

    header > div{
        display: block;
        position:fixed;
        left : 15px;
        top : 15px;
        width : 40px;
        height : 40px;
        z-index: 8;
    }

    header > div > div{
        background-color : black;
        margin-top: 5px;
        height : 4px;
        width:35px;
        border-radius: 3px;
    }
    input:checked ~ nav{
        display:block;
        width:20%;
        height:auto;
        background-color: pink;
        position: fixed;
        top:0;
        left: 0;
        z-index: 7;
        padding-top:50px;
    }
    header > input:checked + div >div:nth-child(1) {
        transform:rotate(45deg) translate(13px,12px);
    }

    header > input:checked + div >div:nth-child(2) {
        transform:scale(0);
    }

    header > input:checked + div >div:nth-child(3) {
        transform:rotate(-45deg);
    }
    nav{
        display: none;
    }

    nav ul{
        list-style-type:none;
    }

    nav a{
        font-size: 13px;
        text-decoration: none;
        color: black;
        display: block;
        height:100%;
        font-family: "Century Gothic",sans-serif;
    }

    ul.meniu{
        padding: 0;
        margin: 0;
        width: 100%;
        display:block;

    }
    ul.meniu>li{
        text-align: center;
        height: 4em;
        line-height: 4em;
        width:100%;
        position: relative;
    }
    ul.meniu>li> ul.submeniu{
        display: none;
        width:100%;
        padding: 0;
        margin: 0;
        top: 0;
    }
    ul.meniu>li:hover>ul.submeniu{
        display: block;
        padding: 0;
        margin: 0;
        top: 0;
        background-color: pink;
        position: absolute;
        left: 100%;
    }
    ul.meniu li:hover{
        background-color: white;
        transition-property: background-color;
        transition-duration: 1s;
    }
    ul.meniu >li>ul.submeniu a{
        padding: 0;
        margin: 0;
        text-align: center;
        top: 0;
    }
    h2 {
        text-decoration:underline;
    }
    #bestseller{
        padding-top: 50px;
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        font-size: 20px;
    }
    #bestseller h1{
        font-size:40px;
        text-shadow: 2px 2px rgb(230, 204, 219)
    }
    #fictiune{
        text-align: center;
        font-family: "Century Gothic",sans-serif;
    }
    #non-fictiune{
        text-align: center;
        font-family: "Century Gothic",sans-serif;
    }
    #copii{
        text-align: center;
        font-family: "Century Gothic",sans-serif;
    }

    #fictiune h2::after,#non-fictiune h2::after,#copii h2::after{
        content: "•"; /* Insert content that looks like bullets */
        padding-right: 8px;
        color: rgb(201, 109, 125); /* Or a color you prefer */
    }
    #fictiune h2::before,#non-fictiune h2::before,#copii h2::before{
        content: "•"; /* Insert content that looks like bullets */
        padding-left: 8px;
        color: rgb(201, 109, 125); /* Or a color you prefer */
    }

    footer {
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        padding-bottom: 10px;
    }

    #galerie-fictiune {
        width:100%;
    }
    #galerie-fictiune>figure:hover{
        transition: transform 2s;
        transform: scale(1.5);
        position: relative;
        z-index: 12;
    }

    #galerie-nonfictiune {
        width:100%;
    }

    #galerie-nonfictiune>figure:hover{
        transition: transform 2s;
        transform: scale(1.5);
        position: relative;
        z-index: 12;
    }

    #galerie-copii {
        width:100%;
    }
    #galerie-copii>figure:hover{
        transition: transform 2s;
        transform: scale(1.5);
        position: relative;
        z-index: 12;
    }
}